/*

Colors:
    Site background: #FFF
    Site foreground: #000
    Dark background: #343434
    Gray background: #F5F5F5 (Panels)
    Black: #222 (normal texts on light background)
	White: #E0E0E0 (texts on dark background)
	Gray: #818181 (Secondary text, same as Foundation default sub header)
	Blue, graphical details/hover: #0A89DD
	Blue, links: #2BA6CB
	Red, error msgs etc.: #C20000
	Green, success: #5da423

*/


/*****************************/
/* Foundation customizations */
/*****************************/

.reveal-modal { top: 20%; position: fixed; }
.reveal-modal.scrollable { position: absolute; }
.reveal-modal .close-reveal-modal { font-size: 2em; }
.reveal-modal a.close-reveal-modal:hover { text-decoration: none; color: #0A89DD; }
 
.subheader { margin-bottom: 0.2em; margin-top: 0.5em; }

.alert { width: 100%; text-alignment: center; padding: 0.5em;  margin-bottom: 2em;}

.info { background-color: #0A89DD; padding: 0.5em; }
.error { background-color: #C20000; }
.warning { background-color: #EBA613;}
.information { background-color: #0A89DD; }

.inline-list { margin-bottom: 0; }

.preloader { width: 1em; height: 1em; margin: 0 0 0 2em; padding: 0; left: 0%;}

.panel { padding: 0.5em; background-color: #F5F5F5; }

@media only screen and (min-width: 768px) {

    .section-container.auto>section>.title {
        min-width: 8em;
    }
}

/* END Foundation customizations */


/******************************/
/* Google Maps customizations */
/******************************/

.gmnoprint img { max-width: none; }

#tourMapRootElement img { max-width:none; }

/* END Google Maps customizations */


/*****************/
/* Common styles */
/*****************/

@font-face { font-family: Aight; src: url('../fonts/aaaiight.ttf'); }

html { position: relative; min-height: 100%; }
html, body { height: 94%; padding: 0px; }
.app-root-view { height: 94%; }

a:link {color:#2ba6cb;}
a:hover {text-decoration: underline;}
a:visited {color:#2ba6cb;}
h3 a:hover{ color: #818181; }

button {
    color: #4d4d4d;    
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    padding: 0.50em 1em;
    margin: 0; 
}
button:active, button:focus {background-color: transparent; color: #4d4d4d; border: 0px solid #818181;}
button:disabled { background-color: transparent; color: #818181; border: 1px solid #E0E0E0; }
button:hover:enabled {  background: url(../images/header_background.jpg) repeat-x; color: #E0E0E0;}
button:hover:disabled { background-color: #FFF; color: #818181; }

button.info:before { content: "?"; }
button.info {
    display: inline;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    border: 1px solid #818181;
    background-color: #818181;
    color: #FFF;
    font-size: 0.8em;
    font-family: Aight;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 0.2em;
    margin-right: 0.2em;
}
button.info:hover { background: none; background-color: #0A89DD; border-color: #0A89DD;  }

button.incomplete:before { content: "!"; }
button.incomplete {
    display: inline;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    color: #C20000;
    font-size: 0.8em;
    padding: 0;
}
button.incomplete:hover {
	background: none;
	border: 1px solid #818181; 
	color: #FFF;
    background-color: #C20000;
}

label {display: inline-block; margin-bottom: 0.5em; margin-top: 1em;}

input:invalid, textarea:invalid { outline: none; border-color: red; }
input[type=text]:focus:invalid, textarea:focus:invalid {
    outline: none;
    box-shadow: 0 0 5px red; 
    border-color: red;
}

input[type=checkbox] { margin: 0; }
input[type=text]:focus, textarea:focus { border: 1px solid #0A89DD; }
textarea[disabled] { background-color: #F3F3F3; opacity: 0.7;}

select {
    height: 2.3em;
    color: #555555;
    font-size: 0.875em;
    margin-bottom: 1em; 
}

[class*="randicon-"] {
    font-size: 2.5em;
    margin-right: 0.3em;
}

a.icon-link { color: #4d4d4d; }
a.icon-link:hover { text-decoration: none; color: #0A89DD;}

p.section-icon-header i { margin-right: 0.5em; }
p.section-icon-header a:hover { text-decoration: none; }

p.error { color: #FFF; padding: 0.3em; margin: 1em; }

.hidden { display: none; }
.uppercase { text-transform: uppercase; }

.secondary-text {
    font-size: 0.7em;
    margin-left: 0.2em;
    color: #818181;
}
p.secondary-text { font-size: 0.8em;}

textarea { resize: vertical; }
div.largeTextAreaContainer textarea{ height: 25em; }
div.descTextAreaContainer textarea{ height: 7em; margin: 0 0 1em 0; }

.normal-margin { margin: 0.5em;	}

table .history { margin-left: -1em; margin-right: -1em; }

.edittools-container {
    width: 100%;
    margin-bottom: 2em;
    padding: 0.5em 0;
    border-bottom: 0px solid #4d4d4d;
}

.confirmation-message { margin-bottom: 3em; }
.confirmation-footer { width: 100%; }

/* END Common styles */

/****************************/
/* Header and Footer styles */
/****************************/

.footer, .push-footer { height: 12em; }

.body-wrapper {
	min-height: 94%;
	margin: 0 auto -11em;
}
/* Only show background for large screens */
@media only screen and (min-width: 1024px) {
	.body-wrapper {
	    background-image: url(../images/background.jpg);
	    background-size: cover;
	    background-attachment: fixed;
	} 
}

.main-content {
    background: #FFF;
    padding-top: 1em;
    padding-bottom: 2em;
}
/* Add margins for large screens (make the main content box "float" on the background) */
@media only screen and (min-width: 768px) {
    .main-content {
        margin-bottom: 1em;
        margin-top: 1em;
        box-shadow: 1px 1px 10px 2px #757575;
    }
}

.header-box { /* Used only in header-large template */
	padding-top: 1.5em;
	background: rgb(56, 56, 56);
/* 	background: url(../images/header_background.jpg) repeat-x; */
}

.footer-box {
    padding-top: 2em;
    padding-bottom: 2em;
    height: 20em;
    background: rgb(56, 56, 56);
/*     background: url(../images/header_background.jpg) repeat-x; */
}	
@media only screen and (max-width: 767px) {
    .footer-box { padding-top: 0.5em; height: 22em; }   
}

.randopedia-logo-text {
    color: #E0E0E0;
    font-weight: 700;
    font-family: Aight,Helvetica,Arial;
    line-height: inherit;
}

.footer-facebook-container {
	margin-top: -1em;
    margin-bottom: 1em;
    text-align: center;
}
.footer-facebook-container a {
    color: #E0E0E0; 
    font-size: 0.9em;
}

ul.header-link-list li {
    display: block;
    float: left;
    margin: 0.5em 0.5em 0 0;
    height: 1.75em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    color: #E0E0E0;
}
li.header-link a {
	padding: 0.4em 1em;
    display: block;
    color: #E0E0E0;
    font-weight: 700;
    font-size: 1em;
    line-height: inherit;
    text-align: center;
}
li.header-link a:hover { 
    background-color: #0A89DD;
    color: #FFF;
    text-decoration: none;
}
li.header-link-user a {
    padding-top: 0.6em;
    display: block;
    color: #E0E0E0;
    font-weight: 500;
    font-size: 0.9em;
    line-height: inherit;
    text-align: center;
}
li.header-link-user a:hover { 
    color: #E0E0E0;
    text-decoration: underline;
}

.footer-links-container {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
}
.footer-links-container a {
    color: #E0E0E0;
    margin-left: 0.7em;
    margin-right: 0.7em; 
    font-size: 0.9em;
}

.randopedia-logo-footer {
    display: block;
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.randopedia-logo-header {
	display: block;
	font-size: 1.75em;
  	margin-top: 0.5em;
}

input.search-textfield {
    height: 2em;
    font-size: 1em;
    padding: 0.5em;
    margin-top: 0.7em;
}

.search-result-container {
	position: absolute;
	height: 100em;
	width: 100%;
	margin-top: 0em;
	background: rgba(255,255,255,0.9);;
	overflow: visible;
	z-index: 99999999;
	border: 1px solid gray;
}

.top-bar { color: #E0E0E0; background: url(../images/header_background.jpg) repeat-x;}
.top-bar .name h1 a  { color: #E0E0E0; }
.top-bar-section ul li>a { color: #E0E0E0; }
.top-bar-menu-nolink { padding-left: 0.5em; }

p.skitour-labels { 
	font-family: "Lucida console",Monospace; 
	float: center; 
	text-align: center; 
	color: #E0E0E0;
	font-size: 1.05em;
}
p.skitour-labels span.green { color: #96AC92;}
p.skitour-labels span.blue { color: #A1B3BE;}
p.skitour-labels span.red { color: #F6C0C0;}
p.skitour-labels span.brown { color: #DAD0A9;}

/* END Header and Footer styles */


/*********************/
/* Index page styles */
/*********************/

div.main-tab-container {
    margin-bottom: 1em;
    width: 100%;
    margin-top: -1em;
}
div.main-tab-container button {
    width: 33%;
    border-width: 0 0 4px 0;
    border-color: #E0E0E0;
    margin: 0;
    display: inline;
    height: 3.5em;
    background-color: #F5F5F5;
    outline: none;
    text-transform: none;
    font-size: 0.8em;
    padding: 1px;
}
div.main-tab-container button:active, div.main-tab-container button:focus {
    background-color: #FFF; 
    color: #4d4d4d; 
    border-width: 0 0 4px 0; 
    border-color: #E0E0E0; 
    outline: none;  
    border-style: solid;
}
div.main-tab-container button:hover:enabled {
    border-color: #0A89DD;
    background: #F5F5F5;
    color: #4d4d4d; 
    opacity: 1;
}
div.main-tab-container button.selected:hover:enabled {
    border-color: #0A89DD;
    background: #FFF;
    color: #4d4d4d; 
    opacity: 1;
}
div.main-tab-container button:disabled,
div.main-tab-container button:hover:disabled {
	opacity: 1;
	color: #4d4d4d;
}
div.main-tab-container button.selected {
    border-color: #0A89DD;
    background: #FFF;
}

div.large-browse-tabs button {
	height: 3em;
	width: 25%;
}

.welcome-text-box {
    background-image: url(../images/welcome-box-background.jpg);
    padding: 0.5em 0.5em;
    height: 100%;
    margin-bottom: 1em;
}

.teaser-img {
    border-width: 0;
    width: 100%;
    min-height: 200px;
}

.paragraph p:first-letter{ font-size:120%; }
.paragraph { color: #000;}

.teaser-container { 
   position: relative;
}

div.teaser-text-container { 
   position: absolute; 
   top: 0px; 
   left: 0px; 
   color: #FFF;
   width: 100%;
   padding: 0.5em; 
   background: rgba(0, 0, 0, 0.2);
}

div.teaser-preloader { position: absolout; top: 45%; left: 35%; font-size: 1.5em; }

span.teaser-area { font-size: 0.7em; }
.teaser-text-container a { color: white; font-size: 0.9em; }

.teaser-refresh-link {
   float: right;
   color: #FFF;
   padding: 0.5em;
   font-size: 1em;
   margin: -0.5em;
}
.teaser-refresh-link:hover { background: #0A89DD; cursor:pointer; color: #FFF;}

.browse-container {
    padding-top: 0.3em;
}

.browse-header { font-size: 1.4em; color: #818181; }


/****************/
/* Login styles */
/****************/

.header-login-text {
	font-size: 0.9em;
	margin: 0.5em;
	color: #E0E0E0;
}

.login-link-container {
	border-style: solid;
	border-width: 1px;
	border-color: #F5F5F5;
	padding: 0.5em 1em;
	margin: 0.5em;
}

.login-link-container:hover { background-color: #F5F5F5; }

a.login-link{ text-decoration: none; color:#222;}
a.login-link:hover{ color:#222; }
a.login-link:visited { color:#222; }

.login-link-container img {
	vertical-align:middle;
	margin-left: 0.5em;
}

.disclaimer-text {
	font-size: 0.8em;
	color: #818181;
}

/* END Login styles */


/***************/
/* Area styles */
/***************/

.area { list-style: none; }

.areaedit-subarea-listitem {margin-bottom: 0.3em;}

a.areatree-expand { font-size: 70%; margin-top:0.3em;}
.expand-placeholder { margin-left: 0.9em; }

.area-browse-bg {
	position: absolute;
	z-index: -1;
	opacity: 0.07;
    width: 100%;
    min-width:600px;
}
a.areatree-link {color:#4d4d4d; margin-top: 0; margin-bottom: 0; font-size: 0.9em;}
a.areatree-link:hover {text-decoration: none; font-weight: bold;}
a.areatree-link:visited {color:#4d4d4d;}

button.areatree {
    color: #4d4d4d;    
    text-transform: none;
    font-size: 0.8em;
    font-weight: 700;
    background-color: transparent;
    border-width: 0;
    padding: 0.25em 2em 0.25em 0.5em;
    margin: 0;
}
button.areatree:active, button.areatree:focus {background-color: transparent; color: #4d4d4d; border: 0px dotted #818181;}
button.areatree:disabled { background-color: transparent; color: #4d4d4d; opacity: 0.9; }
button.areatree:hover:enabled {  background: url(../images/header_background.jpg) repeat-x; color: #E0E0E0;}
button.areatree:hover:disabled { background-color: transparent; color: #4d4d4d; }

button.areatree.is-selected {
	background: url(../images/header_background.jpg) repeat-x; 
	color: #E0E0E0;
}

/* END Area styles */


/*************************/
/* Tour list view styles */
/*************************/

.tour-list-item-panel {
    margin-bottom: 1em;
    padding: 0.25em;
/*     background-color: #FFF; */
    border-width: 0;
}
.tour-list-item-panel h5, .tour-list-item-panel p { margin-bottom: 0;}
.tour-list-item-panel .tour-item-props { color: #818181; }

/* END Tour list view styles */


/*********************************/
/* Tour details/edit view styles */
/*********************************/

.tourview-panel {
	background-color: #F5F5F5;
	border-width: 0px;
    padding: 0.5em;	
}
.tourview-panel-icon { margin: 10px; float: left; }
.tourview-panel-foundicon { font-size: 1.5em; }

.tourview-info-row { margin-bottom: 1.5em; }
.tourview-label { margin-right: 1em; font-size: 0.9em; font-weight: normal; text-transform: uppercase; color: #818181; }

pre.formatted-desc { font-family: Helvetica, Arial, sans-serif; margin-bottom: 1em; line-height: 130%}

p { line-height: 130%; }

a.tourItemPropLink { color: #222;}

ul.area-breadcrumb {
    list-style: none;
    margin-left: 0.2em;
    margin-bottom: 0em;
}
ul.area-breadcrumb li {
    float: left;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-right: 1em;
}

.small-text { font-size: 0.8em;}

.img-panel-button { float: right; } 
.thumbnail-wrapper { display: inline-block; }
.thumbnail-image { max-width: 130px; max-height: 100px; }

.mapToolbar { margin: 1em; }

.adv-opt-panel-container { width: 100%; background-color: #F5F5F5; padding: 0.5em; }
a.adv-opt-panel-icon-link { color: #222; font-size: 0.8em; }
.adv-opt-panel-heading { font-size: 1.125em; font-weight: bold; }
.adv-opt-links-container { margin: 0.75em 0.5em 0 0.5em; }

.comment-container { }
.comment-text { margin-top: 0.3em; margin-bottom: 0.3em; }
.comment-username { font-size: 0.9em; font-weight: bold; color: #818181;}
.comment-add-button { margin-top: 1.2em; }
.comment-add-container { margin: 1em; }
div.comment-container textarea { height: 3.5em; }

.req-field{ color: #C20000; font-size: 1.5em; }
.warn-field{ color: #EBA613; font-size: 1.5em; }

/* END Tour details/edit view styles */