@import "bootstrapoverride/bootstrap.less";

@logo-font: Aight;
@navbar-background: @gray-dark; // url(../images/header_background.jpg) repeat-x;
@hover-background: @gray-lighter;

@tab-color: @gray-lighter;

@normal-border: 1px solid @gray-light;
@light-border: 1px solid @gray-lighter;

@small-space: 5px;
@large-space: 10px;

@font-face { font-family: Aight; src: url('../fonts/aaaiight.ttf'); }

.spacing {
    margin: @large-space;
}

.spacing-x {
    margin-left: @large-space;
    margin-right: @large-space;
}

.spacing-x-large {
    margin-left: @large-space * 2;
    margin-right: @large-space * 2;
}

.spacing-y {
    margin-top: @large-space;
    margin-bottom: @large-space;
}

.spacing-y-large {
    margin-top: @large-space * 2;
    margin-right: @large-space * 2;
}

.danger {
    color: @brand-danger;
}

.uppercase { 
    text-transform: uppercase;
}

.small {
    font-size: 0.8em;
}

body {
    padding-top: 50px;
//    width: 100%;
//    height: 100%;
//    background-image: url(../images/background.jpg);
//    background-attachment: fixed;
//    background-size: cover;
}
   
#full-screen-map-container {
    .ember-view {
        height: 100%;
    }
    
    #tourMapRootElement {
        display:block;
        position:absolute;
        height:auto;
        bottom:0;
        top:0;
        left:0;
        right:0;
        margin-top:50px;
    }  
}

.randopedia-logo-text {
    font-weight: 700;
    font-family: @logo-font,Helvetica,Arial;
}

.tab-content {
    padding: @large-space;
}

.popover {
    min-width: 250px;
    
    .popover-content {
        font-size: @font-size-base;
    }
}

.alert {
    margin: 20px;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: none;    
    }
}   

@nav-tab-border: 5px solid @tab-color;
.nav-tabs {
    margin-top: 10px;
    border-bottom: @nav-tab-border;
    border-top: none;
    color: @navbar-background;
    li > a {
        color: #000;
        margin-left: -1px; 
        margin-bottom: 0;
        font-size: 1.2em;
        &:hover {
           background: @gray-lighter;
           border-bottom: 1px solid @tab-color;
        }        
    }
    li.active > a {
        background: @tab-color;
        color: @navbar-background;
        &:hover {
           background: @tab-color;
        }
    }
}

.navbar {
    background: @navbar-background;
    margin-bottom: 0;
    border-radius: 0;

    .navbar .navbar-collapse {
        text-align: center;
     }
     
     .navbar-toggle-button {
         float: right;
         margin-right: @navbar-padding-horizontal;
         padding: 9px 10px;
         .navbar-vertical-align(34px);
         background-color: transparent;
         background-image: none;
         border: 1px solid transparent;
         border-radius: @border-radius-base;   
         color: #fff;
         &:focus {
            outline: 0;
         }   
         &:hover {
             background: @gray-dark;
         }             
     }
     
     hr {
         margin: 0;
         border-top: 1px solid #101010;
     }
    
     p {
         margin-left: 10px;
         font-style: italic;
     }
        
    .main-menu-container {
        a {
            margin: 5px 0px;
            padding: 10px;
            &:hover {
                text-decoration: none;
                background: @hover-background;
                color: @gray-darker;
            }
        }
    }

    .searchbox {
        display: block;
        line-height: 34px;
        font-size: 20px;
        font-weight: 650;
        opacity: 0.9;
        padding-left: 5px;
        width: calc(~'100% - 20px');
        margin: 5px 10px;
    }
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 400px;
    a {
        color: #fff;
        display: block;
        padding: 5px;
    }
}

.modal-content{
    margin-top: 100px;
}

.edit-container {
    margin: 10px 0;
    padding: 10px;
    border-top: @light-border;
    a {
        .btn();
        .btn-primary();
        float: right;
    }
}

.form-group {
    .req-field { color: @brand-danger; font-size: 1.5em; }
    .warn-field { color: @brand-warning; font-size: 1.5em; }   
    
    textarea {
        height: 7em;
        &.large {
            height: 25em;
        }
    }
}

.inline-list { 
   float: left;
   list-style: none; 
   margin: 20px 5px 0 5px;
   padding: 0;
   li {
        margin-right: 15px;
        float: left;  
   }
   div {
       display: inline;
   }
}

button.info:before { content: "?"; }
button.info {
    
    display: inline;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    border: 1px solid #818181;
    background-color: #818181;
    color: #FFF;
    font-size: 0.8em;
    font-family: Aight;
    padding: 0;
    margin-right: 5px;
    &:focus {
        outline: 0;
    } 
    &:hover { 
        background: none; 
        background-color: #0A89DD;
        border-color: #0A89DD;
    }
}

.browse-map-view {
    .btn-my-position {
        position: absolute;
        top: calc(~'100% - 65px');
        left: calc(~'100% - 65px');
        width: 40px;
        height: 40px;
        background: #fff;
        border-color: #D3D3D3;
        box-shadow: 0 0 5px #D3D3D3;
        color: rgb(75, 129, 215);
        font-size: 22px;
        &:focus {
            outline: 0;
        }  
        &:hover {
            background: @gray-lighter;
        }
        
        span {
            left: -3px;
        }
    }
}

.tour-item-view {
    .item-panel {
        margin-bottom: @large-space;
        padding: @small-space;
    }
    .item-props { 
        color: @gray-light;
    }
}

.tour-details-view {
    h2 {
        margin-top: 5px;
    }
    .panel-heading {
        font-size: @font-size-large;
        font-weight: 700;
    }
    .tour-props {
        margin: 15px 0;
        .row {
            margin-bottom: 5px;
        }
        label {
            margin-right: 1em; 
            font-size: 0.9em; 
            font-weight: normal; 
            text-transform: uppercase; 
            color: @gray-light;            
        }  
    }
    
    .btn-view-on-map {
        margin-bottom: 22px;
        margin-right: 20px;
    }
    
    pre {
        font-family: Helvetica, Arial, sans-serif; 
        line-height: 130%;
        border-width: 0;
        background: #fff;
    }
}

.tour-edit-view {
    #tourEditMapRootElement {
        height: 800px;
    }
}

.image-upload-view {
    .thumbnail-wrapper { 
        display: inline-block;
    }
    
    .thumbnail-image { 
        max-width: 130px; 
        max-height: 100px;
    }
}

.login-view {
    .login-link {
        text-decoration: none; 
        color: @text-color;
            
        :hover {
            color:@text-color;
            background-color: @gray-lighter;
        }
        :visited {
            color:@text-color;
        }
        div {
            border: @light-border;
            padding: @small-space @large-space;
            margin: 5px auto;
            text-align: center;
            width: 250px;
            & img {
                vertical-align:middle;
                margin: 10px; 
            }            
            :hover { 
                background-color: @gray-lighter;
                cursor: pointer;
            }
        }
    }
}

.browse-tree-view {
    span.intent { 
        margin-left: 15px;
    }

    a {
        color:#4d4d4d; 
        margin: 5px 0;
        &:hover {
            text-decoration: none; 
            font-weight: 700;
        }
        &:visited {
            color:#4d4d4d;
        }
    }
    
    a.areatree-expand { 
        font-size: 70%; 
        margin-top:0.3em;
    }    

    button.areatree {
        color: #4d4d4d;
        text-transform: none;
        font-weight: 700;
        background-color: transparent;
        border-width: 0;
        padding: 0.25em 2em 0.25em 0.5em;
        margin: 0;
        
        &:active, &:focus { background-color: transparent; color: #4d4d4d; border: 0px dotted #818181; }
        &:disabled { background-color: transparent; color: #4d4d4d; opacity: 0.9; }
        &:hover { background: @navbar-background; color: #E0E0E0; }
        &:disabled { background-color: transparent; color: #4d4d4d; }
    }
    button.areatree.is-selected {
        background: @navbar-background; 
        color: #E0E0E0;
    } 
      
    .intent-child {
        margin-left: @large-space * 2;
    }
}