@import "bootstrapoverride/bootstrap.less";
@import "loader.less";

@logo-font:                     Aight;
@navbar-background:             @gray-dark;
@hover-background-on-dark:      @gray-lighter;

@main-container-background:     @gray-light;

@tab-color:                     @gray-lighter;

@normal-border:                 1px solid @gray-light;
@light-border:                  1px solid @gray-lighter;
@nav-tab-border:                5px solid @tab-color;

@small-space:                   5px;
@large-space:                   10px;

@medium-dark-background:        #B7B7B7;

@map-path-default-color:        #990000;
@map-path-up-color:             #343434;
@map-path-down-color:           #EE0000;

@top-bar-height:                50px;
@main-view-margin:              20px;

@font-face { font-family: Aight; src: url('../fonts/aaaiight.ttf'); }

// Mixins
.adjust-margin-for-small {
    @media (max-width: 749px) { 
        margin-left: -10px;
        margin-right: -10px;        
    }
}

div.sidebar-container {
    position: absolute;
    top: @top-bar-height +  @main-view-margin;
    left: 0;
    bottom: @main-view-margin;
    width: 19.5%;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 400px;
    overflow-y: scroll;
}

div.main-view-container {
    position: absolute;
    top: @top-bar-height + @main-view-margin;
    left: 0.5%;
    right: @main-view-margin;
    bottom: @main-view-margin;
    overflow-y: scroll;
    width: 99%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid @gray-lighter;
}

@media (max-width: 749px) {  
    body {
        font-size: 12px !important;
    }
    /*a {
        font-size: 12px;
    }*/
    h1 {
        font-size: 30px !important;
    }  
    h2 {
        font-size: 26px !important;
    }  
    h3 {
        font-size: 20px !important;
    }  
    h4 {
        font-size: 16px !important;
    } 
    pre {
        font-size: 12px !important;
    }
    .panel-heading {
        font-size: 16px !important;
    }
    .btn {
        .btn-sm();
    }
}

.spacing {
    margin: @large-space;
}

.spacing-top {
    margin-top: @large-space;
}

.spacing-left {
    margin-left: @large-space !important;
}

.spacing-right {
    margin-right: @large-space;
}

.spacing-x {
    margin-left: @large-space;
    margin-right: @large-space;
}

.spacing-x-large {
    margin-left: @large-space * 2;
    margin-right: @large-space * 2;
}

.spacing-y {
    margin-top: @large-space;
    margin-bottom: @large-space;
}

.spacing-y-large {
    margin-top: @large-space * 2;
    margin-right: @large-space * 2;
}

.default-cursor {
    cursor: default !important;
}

.default-path {
    color: @map-path-default-color;
}

.up-path {
    color: @map-path-up-color;
}

.down-path {
    color: @map-path-down-color;
}

.danger {
    color: @brand-danger;
}

.uppercase { 
    text-transform: uppercase;
}

.small {
    font-size: 0.8em;
}

.secondary-text {
    color: @gray-light;
    font-size: 0.9em;
}

.asterisk {
    .glyphicon();
    .glyphicon-asterisk();
    color: @brand-danger;
    font-size: 0.7em;
    margin-left: 5px;
    margin-right: 5px;
    top: -4px;

    &.required {
        color: @brand-danger;
    }

    &.recommended {
        color: @brand-warning;
    }
}

body {
    padding-top: 50px;
}

.btn {
    border-radius: 0;
} 
   
#full-screen-map-container {
    .ember-view {
        height: 100%;
    }
    
    #tourMapRootElement {
        display:block;
        position:absolute;
        height:auto;
        bottom:0;
        top:0;
        left:0;
        right:0;
        margin-top:50px;
    }  
}

.panel {
    .adjust-margin-for-small();
    border-radius: 0;
    margin-bottom: 0;
}

.panel-group {
    margin-bottom: 0;
} 

.alert {
    margin-top: 5px;
    margin-bottom: 5px;

    @media (min-width: 750px) { 
        margin-top: 15px;
        margin-bottom: 15px;        
    }
}

.loading {
    margin: 20px;
}

.randopedia-logo-text {
    font-weight: 700;
    font-family: @logo-font,Helvetica,Arial;
}

.popover {
    min-width: 250px;
    
    .popover-content {
        font-size: @font-size-base;
    }
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: none;    
    }
}   

.bootstrap-growl {
    margin-left: 20px !important;
    a.close {
        margin-left: 5px;
    }
}

.nav-tabs {
    margin-top: 10px;
    border-bottom: @nav-tab-border;
    border-top: none;
    color: @navbar-background;

    .adjust-margin-for-small();

    li > a {
        color: #000;
        margin-left: -1px; 
        margin-bottom: 0;
        font-size: 1.2em;
        &:hover {
           background: @gray-lighter;
           border-bottom: 1px solid @tab-color;
        }        
    }
    li.active > a {
        background: @tab-color;
        color: @navbar-background;
        &:hover {
           background: @tab-color;
        }
    }

   @media (max-width: 749px) {  
        border: none;
        font-weight: 700;
        li.active a {
            border-radius: 5px;
            border-bottom-color: #dddddd;
        }
    }
}

.tab-content {
    padding: @large-space;

    .adjust-margin-for-small();
}

.checkbox {
    margin: 0;
    cursor: pointer;
    padding-left: 0;

    > label {
        padding-left: 0;
        &.checked {
            .glyphicon {
                color: @gray-dark;
                background-color: #fff;
                border: solid 1px #d2d2d2;
            }
        }

        .glyphicon {
            margin-right: 2px;
            font-size: 16px;
            padding: -1px;
            color: #fff;
            background-color: #fff;
            border: solid 1px #d2d2d2;
            border-radius: @border-radius-small;
        }
    }
}

.panel {
    .panel-heading {
        font-size: @font-size-large;
        font-weight: 700;

        a {
            color: @gray-darker;
            &:hover {
                color: @gray;
            }
        }
    }
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e160";
    float: right;     
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\e159";
}

.navbar {
    /*background: @navbar-background;*/
    background-image: url('/images/header-bg.png');
    background-repeat: repeat-x;

    .nav > .open > a {
        background: #222222;
        border-color: #373737;
    }

    .nav {
        .dropdown-menu {
            background: #222222;
            color: @navbar-default-bg;

            li > a {
                color: @gray-lighter;
                padding: 5px 20px;
                &:hover {
                    background: @gray-light;
                    color: @navbar-background;
                }
                &:active {

                }
            }
        }
    }

    li > p {
        margin-top: 20px;
        margin-left: 20px;
        font-size: small;
        font-style: italic;
        color: @gray-lighter;
        @media (max-width: 749px) { 
            font-size: 0.8em;
        }
    }

     .nav > li > a {
         color: @gray-lighter;
         border: 1px solid #373737;
         border-radius: 4px;
         padding: 5px 10px;
         margin: 10px 8px 2px 8px;
         &:hover {
             background: @gray-dark;
         }
         &.dropdown-toggle {
             &:hover {
                 background: #222222;
             }
         }
          @media (max-width: 749px) { 
            border: none; 
        }
     }

     .navbar-search-button {
         float: right;
         padding: 10px 15px;
         margin: 8px;
         color: #fff;
         position: relative;
         border: 1px solid #373737;
         border-radius: 4px;
         &:focus {
            outline: 0;
         }    

         &:hover       {
             background-color: @gray-dark;
         }

         &.pressed {
             background-color: @gray-dark;
         }

         @media (min-width: 750px) { 
            padding: 7px 15px !important; 
        }
     }

     .nav-with-space {
        @media (min-width: 750px) { 
            margin-left: 25px;   
        }
     }

     .caret {
         margin-left: 5px;
     }
}

::-webkit-input-placeholder {    /* WebKit browsers */
    font-style: italic;
    color: @gray-light;
}
::-moz-placeholder {            /* Mozilla Firefox 19+ */
    font-style: italic;
    color: @gray-light;
}
:-ms-input-placeholder {        /* Internet Explorer 10+ */
    font-style: italic;
    color: @gray-light;
}

.searchbox {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background: white; 
    border: 1px solid @gray-dark;
    background-color: #fff;
    border-width: 0 1px 1px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    z-index: 1000;
    h4 {
        margin-left: 0;
    }
    button.close {
        margin-top: -15px;
    }
    .link-container {
        margin-top: 30px;
    }
    .glyphicon-search {
        left: 5px;
        top: 14px;
    }
    .form-group {
        margin-bottom: 0;
    }

    .load-container {
        float: right;
        margin-top: -30px;
        margin-right: 5px;
    }

    @media (max-width: 749px) { 
        width: 100%;
        height: 100%; 
    }
    @media (min-width: 750px) { 
        width: 50%;
    }

    .search-textfield {
        width: 100%;
        padding: 2px;
        font-size: 16px;

        @media (min-width: 970px) { 
            width: 100%;
        }
    }
}
.modal-content{
    @media (min-width: 750px) {  
        margin-top: 100px;
    }
}

.edit-navbar {
    .navbar();
    .navbar-inverse();
    .navbar-fixed-bottom();
    height: 75px;
    background: none;
    background-color: @navbar-background;

    color: #fff;

    .btn-toolbar {
        padding: 20px;
    }

    .saving-info-container {
        margin: 10px;
    }
    
    @media (max-width: 749px) {  
        height: 100px;
        .btn-toolbar {
            padding: 10px;
        }
        .btn-group {
            margin-top: 5px;
        }
    }
}

.edit-container {
    padding: 20px !important;
    border-top: @light-border;

    a {
        .btn();
        .btn-default();
        float: right;

        @media (max-width: 749px) { 
            margin-bottom: 20px;    
        }
    }

    &.area {
        background: #fff;
    }
}

.form-group {
    .req-field { color: @brand-danger; font-size: 1.5em; }
    .warn-field { color: @brand-warning; font-size: 1.5em; }   
    
    textarea {
        height: 7em;
        &.large {
            height: 25em;
        }
    }
}

.inline-list { 
   float: left;
   list-style: none; 
   margin: 20px 5px 0 5px;
   padding: 0;
   li {
        margin-right: 15px;
        float: left;  
   }
   div {
       display: inline;
   }
}

button.info:before { content: "?"; }
button.info {
    display: inline;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    border: 1px solid #818181;
    background-color: #818181;
    color: #FFF;
    font-size: 0.8em;
    font-family: Aight;
    padding: 0;
    margin-right: 5px;
    &:focus {
        outline: 0;
    } 
    &:hover { 
        background: none; 
        background-color: #0A89DD;
        border-color: #0A89DD;
    }
}

.browse-map-view {
    .btn-my-position {
        position: absolute;
        top: calc(~'100% - 65px');
        left: calc(~'100% - 65px');
        background: #fff;
        border-color: #D3D3D3;
        box-shadow: 0 0 5px #D3D3D3;
        color: rgb(75, 129, 215);
        font-size: 22px;
        &:focus {
            outline: 0;
        }  
        &:hover {
            background: @gray-lighter;
        }
    }

    .loading-data {
        position: absolute;
        top: 75px;
        left: calc(~'50% - 50px');
        background: rgba(255, 255, 255, 0.6);
        padding: 5px;
    }

    .tour-info {
        position: absolute;
        top: calc(~'100% - 126px');
        left: 0;
        width: 100%; 
        height: 125px;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid @gray-dark;
        border-width: 1px 0 0 0;
        padding: 10px;
        h4 {
            margin-left: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        button.close {
            margin-top: -10px;
            opacity: 0.9;
        }
        .link-container {
            margin-top: 15px;
            span {
                margin-right: 20px;
            }
        }
        label {
            margin-top: 5px;
            font-weight: normal !important;
            cursor: pointer !important;

            @media (min-width: 750px) {
                margin-top: 10px;
            }
        }

        @media (min-width: 750px) {
            border-width: 1px;
            top: calc(~'100% - 161px');
            height: 150px;
        }

        @media (min-width: 970px) { 
            left: calc(~'25%');
            width: 50%;     
        }

        @media (min-width: 1170px) { 
            left: calc(~'30%');
            width: 40%;  
        }
    }
}

.tour-item-view {
    .item-panel {
        margin-bottom: @large-space;
        padding: @small-space;
    }
    .item-props { 
        color: @gray-light;
    }
}

.main-container {
    background: #F0F0F0;
}

.main-view {
    
    @media (min-width: 1170px) {
        width: 80%;
        margin: 10px auto;
        border: 1px solid #B6B6B6;
        background-color: #fff;
        padding: 0 5px;  
        .panel-full-width {
            margin-left: -5px;
            margin-right: -5px;
        }      
    }
    
    @media (min-width: 1570px) {
        width: 60%;
    }
    
    @media (max-width: 1169px) {
        .info-col {
            padding: 0 5px;
        }   
    }
    
    .panel-full-width {
        border: none;
    }
}

.tour-details-view {

    h2 {
        margin-top: 0.5em;
    }
    .tour-props {
        margin: 15px 0;
        .row {
            margin-bottom: 5px;
        }
        label {
            margin-right: 1em; 
            font-size: 0.9em; 
            font-weight: normal; 
            text-transform: uppercase; 
            color: @gray-light;            
        }  
    }
    
    .map-buttons-container {
        .btn {
            margin-bottom: 20px;
        }
    }

    .popover-link {
        background: #fff;
        border: none;
         &:focus {
            outline: 0;
        } 
    }
    
    pre {
        font-family: Helvetica, Arial, sans-serif; 
        line-height: 130%;
        border-width: 0;
        background: #fff;
    }
    
    .image-carousel-container {
        
        h4 {
            font-size: 20px;
            font-weight: 700;
            margin-left: 20px;
            padding-top: 10px;
        }
    }

    .panel-group {
        margin-right: 0;
        @media (max-width: 749px) { 
            margin-left: 0;
            margin-right: 0;        
        }
    }

    .carousel {
        height: 340px;    
        margin-left: -15px;
        margin-right: -15px; 
        
        @media (min-width: 370px) { 
            height: 400px;           
        }
                    
        @media (min-width: 750px) {
            height: 600px; 
            display: block;
            margin-left: auto;
            margin-right: auto;           
        }
        
        @media (min-width: 970px) { 
            height: 720px;           
        }
                
        @media (min-width: 1570px) { 
            height: 970px;           
        }
        
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-height: 340px;  
            padding-bottom: 20px; 
            margin-top: 10px;

            @media (min-width: 370px) { 
                max-height: 400px;           
            }
                               
            @media (min-width: 750px) { 
                max-height: 600px;           
            }
            
            @media (min-width: 970px) { 
                max-height: 720px;           
            }
                        
            @media (min-width: 1570px) { 
                max-height: 970px;         
            }
        }
        
        .carousel-control {
            background: none;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.tour-edit-view {
    margin-bottom: 75px;

   @media (max-width: 749px) {  
        margin-bottom: 100px;
    }

    #tourEditMapRootElement {
        height: 700px;
    }

    .checkbox {
        display: inline;
        label {
            font-weight: 700;
            margin-bottom: 5px;
        }
     }
     
    .map-edit-view {
        .btn-toolbar {
            margin-bottom: 5px;
        }

        .mouse-position-container {
            position: absolute;
            top: calc(~'100% - 100px');
            left: calc(~'100% - 140px');
            color: @gray-dark;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 5px;
            border-radius: 5px;
        }

        .glyphicon-sort {
            color: @map-path-default-color;
        }

        .glyphicon-arrow-up {
            color: @map-path-up-color;
        }

        .glyphicon-arrow-down {
            color: @map-path-down-color;
        }

        .glyphicon-trash {
            margin-top: 3px;
            margin-bottom: 4px;
        }
    }
}

.image-upload-view {
    .thumbnail-wrapper { 
        display: inline-block;
        margin-bottom: 10px;
        img {
            max-width: 130px;
            margin: 0 auto;
        }
    }
}

.login-view {
    .login-link {
        text-decoration: none; 
        color: @text-color;
            
        :hover {
            color:@text-color;
            background-color: @gray-lighter;
        }
        :visited {
            color:@text-color;
        }
        div {
            border: @light-border;
            padding: @small-space @large-space;
            margin: 5px auto;
            text-align: center;
            width: 250px;
            & img {
                vertical-align:middle;
                margin: 10px; 
            }            
            :hover { 
                background-color: @gray-lighter;
                cursor: pointer;
            }
        }
    }
}

.browse-tree-view {
    span.intent { 
        margin-left: 15px;
    }
    
    a.areatree-expand { 
        font-size: 70%; 
        margin-top:0.3em;
    }    

    button.areatree {
        color: #4d4d4d;
        text-transform: none;
        font-weight: 700;
        background-color: transparent;
        border-width: 0;
        padding: 0.25em 2em 0.25em 0.5em;
        margin: 0;
        
        &:active, &:focus { background-color: transparent; color: #4d4d4d; border: 0px dotted #818181; }
        &:disabled { background-color: transparent; color: #4d4d4d; opacity: 0.9; }
        &:hover { background: @navbar-background; color: #E0E0E0; }
        &:disabled { background-color: transparent; color: #4d4d4d; }
    }
    button.areatree.is-selected {
        background: @navbar-background; 
        color: #E0E0E0;
    } 
      
    .intent-child {
        margin-left: @large-space * 2;
    }
} 

.about-grades-view {
    dt {
        margin-top: 10px;
    }
}

.footer-view {
    background: @navbar-background;
    background-image: url('/images/header-bg.png');
    background-position: right;
    background-repeat: no-repeat;
    color: @gray-lighter;
    font-size: 0.8em;
    margin: 0 -5px;
    margin-top: 25px;
    margin-bottom: -10px;
    padding: 45px 1em;

    a {
        color: #fff;
        font-size: 1.1em;
        &:hover {
            text-decoration: underline;
        }
    }

    .inline-list { 
	    font-family: "Lucida console", Monospace; 
        font-size: 1.1em;
        margin-left: -3px;

        .green { color: #96AC92;}
        .blue { color: #A1B3BE;}
        .red { color: #F6C0C0;}
        .brown { color: #DAD0A9;}
    }
}
