.class
.jar
.war
.classpath
.project
.settings
*~
.tar.gz
.tar
.gz
target
var
tourimages

test_data
bin

randopedia-core/src/main/resources/application.localhost.properties
randopedia-core/src/main/resources/application.prod.properties
randopedia-core/src/main/resources/application.preprod.properties
randopedia-core/src/main/resources/application.properties
randopedia-core/src/main/resources/application.test.properties

node_modules
randopedia-web/src/config.js
.metadata
randopedia.js
randopedia.min.js
templates.js