.class
.jar
.war
.classpath
.project
.settings
*~
.tar.gz
.tar
.gz
.log
target
var
tourimages
.metadata
test_data
bin

randopedia-core/src/main/resources/application.localhost.properties
randopedia-core/src/main/resources/application.prod.properties
randopedia-core/src/main/resources/application.preprod.properties
randopedia-core/src/main/resources/application.properties
randopedia-core/src/main/resources/application.test.properties

node_modules
randopedia-web/src/config.js
randopedia.js
randopedia.min.js
templates.js
templates.min.js
site.css
site.min.css
Thumbs.db

# Visual Studio project files #
randopedia-web.sln
randopedia-web.csproj
randopedia-web.csproj.user
Properties
obj
*.suo
# END Visual Studio files #
