.class
.jar
.war
.classpath
.project
.settings
*~
.tar.gz
.tar
.gz
.log
target
var
tourimages
.metadata
test_data
bin

randopedia-core/src/main/resources/application.localhost.properties
randopedia-core/src/main/resources/application.prod.properties
randopedia-core/src/main/resources/application.preprod.properties
randopedia-core/src/main/resources/application.properties
randopedia-core/src/main/resources/application.test.properties

node_modules
randopedia-web/src/config.js
randopedia-server/config/config.js
randopedia.js
randopedia.min.js
templates.js
templates.min.js
libs.js
site.css
site.min.css
Thumbs.db
npm-debug.log

# Visual Studio project files #
Properties
obj
.vs
*.sln
*.dat
*.suo
*.njsproj
*.csproj
# END Visual Studio files #
/design
