<div class="row">
    <div class="small-12 columns">
    
		<div class="section-container tabs" data-section="tabs">
		
			<section class="active">
			   <p class="title" data-section-title><a href="#about">About</a></p>
			   <div class="content" data-section-content>
			       <h3>About Randopedia</h3>
			       <p>
			       Randopedia is an open-content collaborative encyclopedia where anyone can contribute by adding and update content. Ambition is high; it shall become the most complete and accessible ski tour database in the world. Randopedia isn't a community; it's simply a database containing ski tour descriptions.
			       </p>
			       
			       <p>
			       It's really easy to contribute and take part in the Randopedia vision. Just log in and add your tours! Have a look at the help section if you want to learn more about how to contribute with tour data.
			       </p>
			       
			        <h4 class="subheader">The people</h4>
                    <p>
                    Randopedia is developed and maintained by a bunch of skiers (who also happens to be programmers) who simply thought this was a great idea. All work is done voluntary on our spare time, but we do our best to frequently update and improve the site.
                    </p>
                   
                    <h4 class="subheader">Contact</h4>
                    <p>
                    We love to get feedback, so any ideas, suggestions, error reports, questions, criticism or compliments are all very welcomed. Please send an email to <a href="mailto:mail@randopedia.net">mail@randopedia.net</a> or write on the <a target="_blank" href="https://www.facebook.com/randopedia.net">Randopedia Facebook page</a>.
                    </p>
                    
			       <h4 class="subheader">Privacy, registering and logging in</h4>
			       <p>
				   Randopedia doesn't have its own authentication system, instead of creating a new account you can use accounts you already have. Currently you can login with Facebook and Google accounts.
				   </p>
				   
				    <p>
				    First time you login you have to register the account with Randopedia. This is just a confirmation that you allow your account to be used for authentication by Randopedia.
					</p>
					
					<p>
				    Randopedia doesn't store or use any sensitive information about your account. The only thing that is saved is the user id and name. There's no logout button on the page, if you for example have logged in using your Facebook account, you'll be logged out from Randopedia when you log out from Facebook.
					</p>
					
					<p>
				    Note: You only need to login if you want to contribute with ski tour data or write comments on tours. All ski tours and other information on the site is always available regardless if you're logged in or not.
			        </p>
			        
			        <p>
                    Note 2: If you have saved tour drafts when logged in with one account, for example Facebook, those tours will not be available if you log in with Google or vice versa.
                    </p>
			       
			        <h4 class="subheader">Licensing</h4>
			        <p>
			        All tour data (texts, images, map data) is licensed under a <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
			        </p>
			       
			        <h4 class="subheader">Disclaimer</h4>
                    <p>
                    By publishing any material on Randopedia you assures that the material DO NOT violate ANY copyright law, international or otherwise, nor that the material is deemed illegal by governing authorities.
                    </p>
                    <p>
                    If you suspect that some material available on Randopedia violates any copyright law, please contact us and it will be immediately deleted from the Randopedia database.
                    </p>			       
                    <p>
                    Randopedia makes no guarantee of the validity of the content. Tour data should always be seen as guidelines and inspiration, not as absolute truth, and be handled as such.
                    </p>
                    <p>
                    Randopedia reserves the right to, without any notice, delete any content that violates anything stated here or is considered irrelevant for the site.
                    </p>
			   </div>
			</section>
		  
		    <section>
		        <p class="title" data-section-title><a href="#grades">Grades</a></p>
		        <div class="content" data-section-content>
		          {{partial "about-grades"}} 
		        </div>
		    </section>  
		
		    <section>
                <p class="title" data-section-title><a href="#help">Help</a></p>
                <div class="content" data-section-content>
                
                  <h3>Adding and updating tours</h3>
                   <p>
                   The basic idea of Randopedia is that many people will contribute by adding and improving the tour descriptions. After a new tour has been published, it 
                   will be possible for anyone to make updates on that tour.
                   </p>
                   
                   <p>
                   To add or update a tour you need to be logged in. An edit button is available in the top right corners of 
                   the tour and area pages. This button leads you to an edit view for the tour/area. There's also an "Add new tour"
                   link on the front page. 
                   </p>
                   
                   <h4 class="subheader">Adding a new tour</h4>
                   <p>
                   There are two ways to add a new tour. 
                   <br> - Browse into an area, click edit and then the Add tour button. This will create a new tour in the current area.
                   <br> - Click the Add new tour link in the main menu.
                   <p>See "Edit a tour" section below for more details on editing tours.</p>
                   </p>
                   
                   <h4 class="subheader">Adding a new area</h4>
                   <p>
                   A new area can be added in two ways. 
                   <br> - From the area page: Browse to the "parent" area, click edit button and add a new area in the "Subareas" section.
                   <br> - From the tour page: In tour edit page, click the area name and an area picker appears, here you'll find a "create new area"
                   option. Select the parent area and click "Create new are in...".                     
                   </p>
                   
                   <h4 class="subheader">Edit a tour</h4>
                   <p>
                    The edit tour page contains five sections.                   
                   </p>
                   
                   <h5 class="subheader">Details</h5>
                   <p>Here you found a set of predefined fields where basic tour data is easily set.</p>
                   
                   <h5 class="subheader">Description</h5>
                   <p>Describe the itinerary and add any other information that could be useful</p>
                   
                   <h5 class="subheader">Map</h5>
                   <p> 
                    The map tab offers some simple map edit functionality. A new route is added by clicking the "path" button in the toolbar. When the drawing 
                    tool is selected, just click on the starting point and then draw the line as wanted. Double click to exit the drawing mode.
                   </p>
                                        
                   <h5 class="subheader">Images</h5>
                   <p>
                   Images are published a little bit differently than other data.
                   </p>
                   <p>
                    When an image is selected for upload a preview is shown and a caption can be added before publishing. Images can only be uploaded and published 
                    one at the time. The image is published immediately (no need to do save/publish on the tour afterwards)
                    </p>
                    <p>
                    Below the upload section, current images are listed and captions can be updated.
                    <p>
                    Only upload images of good quality with motives that are helpful for route finding and gives an impression of what the tour's like.
                    </p>
                    <p>
                    All images will be scaled down to 1024*768 pixels. Currently images in portrait format isn't supported (will look kind of bad). 
                    </p>
                    <p>
                    There's a max limit of 20 images per tour. 
                   </p>                
                   <h5 class="subheader">History</h5>
                   <p>
                   All updates on a tour are logged and can be viewed here.
                   </p>
                   <h5 class="subheader">Adding links in descriptions</h5>
                   <p>
                   Randopedia supports something called "markdown". This means that some codes can be added in a text field and these will be translated 
                   into links in view mode. This is supported in the area and tour description fields. Note that the full address must be added (included the http stuff).
                   <p>
                   <strong>Syntax: </strong> [Name](address)
                   </p>
                   <p>
                   <strong>Example (in the edit text boxes): </strong><br>
                   Visit us on our [facebook page](http://www.facebook.com/randopedia.net) <br>
                   <strong>...will look like this:</strong> <br>
                   Visit us on our <a href="http://www.facebook.com/randopedia.net">facebook page</a> 
                   </p>
                   </p>
                   
                   <h4 class="subheader">Publishing</h4>
                   <p>
                   Changes can be published at any time as long as the data is valid. There might be some warnings showing, try to fill out as much data as possible 
                   before publishing. A brief comment describing the change is also mandatory.                   
                   </p>
                   
                   <h4 class="subheader">Drafts</h4>
                   <p>
                    A new tour can be saved as a draft. That means it is saved, but not published. A draft is only available for the user that created it, you 
                    can work with a tour for some time and once you're happy with it, it can be published.
                    </p>
                    <p>
                    Drafts can be found on the "My tours" page which is available from the main menu.
                    </p>
                    <p>
                    Drafts are only available for new, unpublished tours. If a tour have been published, it's not possible to make changes and save it as a draft to 
                    publish at a later time.
                   </p>                     
                
                </div>
            </section>
		
		</div>
	    
    </div>
</div>