<p>
    To add a new tour or update an existing you have to login. When logged in an "Add new tour" button is
    available in the main menu and an "Edit" button appears in the top section of the tour page.

    On the tour edit page you can add/update tour details, write a description, upload images and edit the
    map. Here you can also view the update history of the tour.
</p>

<h4>Tags</h4>
<p>
    You can tag a tour in the description field by using the hash sign, for example: <em>#mycooltag</em>. Tags are shown as links in the tour description and clicking it will show a list of all tours with the same tag.
    All tours should be tagged with area information, i.e. <em>#france</em> <em>#chamonix</em> etc. Optionally tours could be tagged with anything describing the tour, i.e. <em>#couloir</em> <em>#steep</em> etc. The tags
    are made searchable and is also a way to group related tours so it's important to include them.
</p>
<p>
    <em>Note:</em>It can take some time before a newly added tag is searchable, so dont worry if the tour doesn't appear in the search result right away, it'll be there eventually.
</p>
<p>
    <em>Note:</em>If a tag exists in the description and is deleted in the tags editor, the tag will reappear after save... Tags added in the description must also be deleted in the description.
</p>

<h4>Drafts</h4>
<p>
    Tours can be saved as private drafts. This means the tour is saved, but only visible to you.
    It's only possible to save drafts for unpublished tours, once published or sent to review the
    draft option is no longer available.
</p>
<p>
    Tour drafts are listed in the "My tours" page, available from the main menu.
</p>
<p>
    <em>Note:</em> If you have saved tour drafts when logged in with one account, for example Facebook, those tours will not be
    available if you log in with Google or vice versa.
</p>

<h4>In Review</h4>
<p>
    Tours can be sent to review. This means the tour is still a draft, but it is visible to other logged in users.
    Tours in review will not appear on the map or in search results. This is useful if you want someone else to review
    the tour before its published. Maybe you lack some important information that someone else might have or you
    just want someone to read through your work before it's published. 
</p>
<p>
    Tours in review are listed on the "Tours in review" page, available from the main menu.
</p>

<h4>Adding links in descriptions</h4>
<p>
    Randopedia supports something called "markdown". This means that some codes can be added in a text field and these will be translated
    into links in view mode. This is supported in the tour description field. Note that the full address must be added (included the http stuff).
    This is the way to go if you want to link to other tours in the description.
<p>
    <strong>Syntax: </strong> [Name](address)
</p>
    
<p><strong>Example (in the edit text boxes): </strong></p>
<pre><code>Visit us on our [facebook page](http://www.facebook.com/randopedia.net)</code></pre>
<pre><code>For some amazing views go ski [Storstolpan](http://randopedia.net/tours/storstolpan).</code></pre>

<p><strong>...will look like this:</strong></p>
<pre>Visit us on our <a href="http://www.facebook.com/randopedia.net">facebook page</a></pre>
<pre>For some amazing views go ski <a href="http://randopedia.net/tours/storstolpan">Storstolpan</a>.</pre>

<h4>Map - Drawing paths</h4>
<p>
    You can select from three different path types. If the path isn't specifically an up or down track, use the default Up/Down type.
</p>
<p>
    <em>Note:</em> When you add/update a map path the change does not appear on the main tours map until you reload the page in the browser.
</p>

<h4>Map - Summit point</h4>
<p>
    You can set a summit point on the tour. This point is used on the map as the tour marker. If not set, the first point will be used
    as the tour marker.
</p>

<h4>Map - Importing GPX files</h4>
<p>
    GPX files from gps devices can be uploaded and imported on the map. For preformance reasons the tracks are compressed a bit to reduce the number of points. Only tracks
    are imported, waypoints and other meta data in the GPX files are ignored. The tracks can be edited on the map after import.
</p>

<h4>Images</h4>
<p>
    In the images section of the tour edit page you can upload images, add/edit image captions and delete images.
</p>

<h4>Languages</h4>
<p>
    A tour can exits in several languages (currently only English and Norwegian, but more will soon be available). It's the language selection in the main menu for the whole site that decides
    what language the current tour will be saved for. I.e. you cannot use the English version of the site and add a tour in Norwegian. It's perfectly fine to just add a tour in one language.
    (Hopefully someone else can translate it.)
</p>