<div class="panel panel-info">
    <div class="panel-heading">Grades</div>
    <div class="panel-body">
        {{partial "about-grades"}}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Map</div>
    <div class="panel-body">
        <p>
            There are three different types of paths shown on the map. A tour can have paths of one or many types.
        </p>
        <p><span class="glyphicon glyphicon-minus default-path"></span> Default (Can be for both ascent and descent)</p>
        <p><span class="glyphicon glyphicon-minus up-patch"></span> Suitable for ascent </p>
        <p><span class="glyphicon glyphicon-minus down-path"></span> Suitable for descent </p>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Collaborating</div>
    <div class="panel-body">
        {{partial "about-collaboration"}}
    </div>
</div>