<div class="about-grades-view">
    <p>
        Randopedia uses only one grading system, i.e. there're not separate systems for the climb and the descent. The grade is therefore an overall
        estimate of all difficulties on an itinerary.
    </p>

    <p>
        The grade always evaluates the most difficult part of the itinerary. The main factors that are considered in the estimate are steepness and
        exposure, but it also includes altitude, duration and how sustained the difficulties are.
    </p>

    <p>
        If, for example, an itinerary have a very long duration or is at high altitude the grade might be higher than the grade matching the steepness.
        This can also be true if there's a very technical passage on an itinerary which isn't very steep.
    </p>

    <dl>
        <dt>Easy</dt>
        <dd>Easy ascent/descent on wide slopes that doesn't require any particular technical abilities.</dd>
        <dt>Fairly difficult</dt>
        <dd>Slopes up to 35&#176;. No particulal difficulties but requires solid skiing abilities in all kind of conditions.</dd>
        <dt>Quite difficult</dt>
        <dd>Slopes up to 40&#176; (can be down to 30&#176; if technical passages or some exposure). Requires good skiing abilities.</dd>
        <dt>Difficult</dt>
        <dd>Slopes up to 45&#176; (can be down to 35&#176; if very technical passages or high exposure, can be up to 50&#176; if low exposure). Requires very good skiing abilities.</dd>
        <dt>Very difficult</dt>
        <dd>Slopes up to 50&#176; (can be up to 55&#176; if low exposure).</dd>
        <dt>Extremely difficult</dt>
        <dd>Very steep and exposed terrain. Slopes up to 60&#176; and/or long stretches of 50-55&#176;. Serious stuff for the committed and experienced ski mountaineer.</dd>
    </dl>
</div>