<p>
    Randopedia bruker bare et graderingsystem, dvs. det er ikke separate systemer for oppstigning og nedstigning. Graden er derfor et samlet estimat over alle vanskeligheter på en rute 
</p>

<p>
    Graden evaluerer alltid den vanskeligste delen av ruten. De viktigste faktorene som vurderes i estimatet er bratthet og
    eksponering, men det inkluderer også høyde, varighet og hvordan vedvarende vanskeligheterne er.
</p>

<p>
    Hvis for eksempel en rute har en veldig lang varighet eller er i stor høyde graden kan være høyere enn graden som matcher brattheten.
    Dette kan også være sant hvis det er en veldig teknisk passasje på en rute som ikke er veldig bratt.
</p>

<dl>
    <dt>Lett</dt>
    <dd>Lett stigning / nedkørning på brede bakker som ikke krever noen spesielle tekniske ferdigheter.</dd>
    <dt>Litt vanskelig</dt>
    <dd>Bakker opp til 35&#176;. Ingen spesielle vanskeligheter, men krever solide skiferdigheter i all slags forhold.</dd>
    <dt>Ganske vanskelig</dt>
    <dd>Bakker opp til 40&#176; (kan vare ned til 30&#176; hvis tekniske passasjer eller noen eksponering). Krever gode skiferdigheter.</dd>
    <dt>Vanskelig</dt>
    <dd>Bakker opp til 45&#176; (kan vare ned til 35&#176; hvis tekniske passasjer eller høy eksponering, kan vare opp til 50&#176; hvis låg eksponering). Krever meget gode skiferdigheter.</dd>
    <dt>Veldig vanskelig</dt>
    <dd>Bakker opp til 50&#176; (can be up to 55&#176; if low exposure).</dd>
    <dt>Ekstremt vanskelig</dt>
    <dd>Meget bratt og eksponert terreng. Bakker opp til 60&#176; og/eller lange strekninger med 50-55&#176;. Bare for de mest erfarne.</dd>
</dl>