<div class="container-fluid about-view">
        <div class="row">
            <div class="col-sm-12">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#about" role="tab" data-toggle="tab">About</a></li>
                    <li><a href="#help" role="tab" data-toggle="tab">Help</a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="about">
                        <div class="panel panel-info">
                            <div class="panel-heading">Randopedia - The ski tour encyclopedia</div>
                            <div class="panel-body">
                                <p>Randopedia is an open-content collaborative encyclopedia where anyone can contribute by adding and update content. Ambition is high; it shall become the most complete and accessible ski tour database in the world. Randopedia doesn't try to be a community or a social network; it's simply a database containing ski tour descriptions.</p>
                                <p>It's really easy to contribute and take part in the Randopedia vision. Just log in and add your tours! Have a look at the help section if you want to learn more about how to contribute with tour data.</p>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">The people</div>
                            <div class="panel-body">
                                <p>Randopedia is developed and maintained by a bunch of skiers (who also happens to be programmers) who simply thought this was a great idea. All work is done voluntary on our spare time, but we do our best to frequently update and improve the site.</p>
                                <p>We love to get feedback, so any ideas, suggestions, error reports, questions, criticism or compliments are all very welcomed. Please send an email to <a href="mailto:mail@randopedia.net">mail@randopedia.net</a> or write on the <a target="_blank" href="https://www.facebook.com/randopedia.net">Randopedia Facebook page</a>.</p>
                            </div>
                        </div>

                        <div class="panel panel-info">
                            <div class="panel-heading">Privacy, registering and logging in</div>
                            <div class="panel-body">
                                <p>Randopedia doesn't have its own authentication system, instead of creating a new account you can use accounts you already have. Currently you can login with Facebook and Google accounts.</p>
                                <p>First time you login you have to register the account with Randopedia. This is just a confirmation that you allow your account to be used for authentication by Randopedia.</p>
                                <p>Randopedia doesn't store or use any sensitive information about your account. The only thing that is saved is the user id and name. There's no logout button on the page, if you, for example, have logged in using your Facebook account, you'll be logged out from Randopedia when you log out from Facebook.</p>
                                <p><em>Note</em>: You only need to login if you want to contribute with ski tour data or write comments on tours. All ski tours and other information on the site is always available regardless if you're logged in or not.</p>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Licensing</div>
                            <div class="panel-body">
                                <p>
                                    All tour data (texts, images, map data) is licensed under a <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                                    This basically means that the tour data is, and always will be, free. Anyone can share and redistribute the data freely as long as its done under the same licensing.
                                    <div>
                                        <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                                            <img alt="Creative Commons License" class="cc-img" src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
                                        </a>
                                    </div>
                                </p>
                            </div>
                        </div>

                        <div class="panel panel-danger">
                            <div class="panel-heading">Disclaimer</div>
                            <div class="panel-body">
                                <p>By publishing any material on Randopedia you assures that the material DO NOT violate ANY copyright law, international or otherwise, nor that the material is deemed illegal by governing authorities.</p>
                                <p>If you suspect that some material available on Randopedia violates any copyright law, please contact us and it will be immediately deleted from the Randopedia database.</p>
                                <p>Randopedia makes no guarantee of the validity of the content. Tour data should always be seen as guidelines and inspiration, not as absolute truth, and be handled as such.</p>
                                <p>Randopedia reserves the right to, without any notice, delete any content that violates anything stated here or is considered irrelevant for the site.</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="help">
                        {{partial "about-help"}}
                    </div>

                </div>

            </div>
        </div>
</div>