<div class="main-view about-view">
    <div class="row">
        <div class="col-md-6 about-section">
            <div class="text-section">
                <p>Randopedia is an open-content collaborative database where anyone can contribute by adding and update content. Ambition is high; it shall become the most complete and accessible ski tour database in the world. Randopedia doesn't try to be a community or a social network; it's simply a database containing ski tour descriptions.</p>
                <p>Currently is the data only available on the randopedia.net portal, but the idea is that the database should be accessible for anyone who wants to use the data on their sites or apps via public interfaces.</p>
                <p>It's really easy to contribute and take part in the Randopedia vision. Just log in and add your tours! Have a look at the {{#link-to "help"}}help{{/link-to}} section if you want to learn more about how to contribute with tour data.</p>
            </div>
        </div>
                
        <div class="col-md-4 col-md-offset-1 about-img">
            <img src="images/about-image.jpg" class="img-responsive" alt="Responsive image">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Like us on Facebook</h4>
            <div class="fb-like" data-href="https://www.facebook.com/randopedia.net" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>The people</h3>
            <p>Randopedia is developed and maintained by a couple of skiers (who also happens to be programmers) who simply thought this was a great idea. All work is done voluntary on our spare time, but we do our best to frequently update and improve the site.</p>
            <p>We love to get feedback, so any ideas, suggestions, error reports, questions, criticism or compliments are all very welcomed. Please send an email to <a href="mailto:mail@randopedia.net">mail@randopedia.net</a> or write on the <a target="_blank" href="https://www.facebook.com/randopedia.net">Randopedia Facebook page</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div>
                <h3>Licensing</h3>
                All tour data (texts, images, map data) is licensed under a <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                This basically means that the tour data is, and always will be, free. Anyone can share and redistribute the data freely as long as its done under the same licensing.
                <div class="cc-img-container text-center">
                    <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                        <img alt="Creative Commons License" class="cc-img" src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6">
            <div>
                <h3>Privacy, registering and logging in</h3>
                <p>Randopedia doesn't have its own authentication system, instead of creating a new account you can use accounts you already have. Currently you can login with Facebook and Google accounts.</p>
                <p>First time you login you have to register the account with Randopedia. This is just a confirmation that you allow your account to be used for authentication by Randopedia.</p>
                <p>Randopedia doesn't store or use any sensitive information about your account. The only thing that is saved is the user id and name.</p>
                <p><em>Note</em>: You only need to login if you want to contribute with ski tour data or write comments on tours. All ski tours and other information on the site is always available regardless if you're logged in or not.</p>
                <p><em>Note</em>: There's a different login for the comments/discussions. If logging in from the discussion panel, you will only be able to add comments, not add/edit tours.</p>
            </div>
        </div>

        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="panel panel-danger">
                <div class="panel-heading">Disclaimer</div>
                <div class="panel-body">
                    <p>By publishing any material on Randopedia you assures that the material DO NOT violate ANY copyright law, international or otherwise, nor that the material is deemed illegal by governing authorities.</p>
                    <p>If you suspect that some material available on Randopedia violates any copyright law, please contact us and it will be immediately deleted from the Randopedia database.</p>
                    <p>Randopedia makes no guarantee of the validity of the content. Tour data should always be seen as guidelines and inspiration, not as absolute truth, and be handled as such.</p>
                    <p>Randopedia reserves the right to, without any notice, delete any content that violates anything stated here or is considered irrelevant for the site.</p>
                </div>
            </div>
        </div>
    </div>

</div>