<!--
    Default application template. Defines the application layout and starts everything off.
-->     

{{partial "header"}}

{{outlet}}

<!--<div class="sidebar-container">{{outlet sidebar}}</div>-->
<div>{{outlet mainview}}</div>