<div class="main-view-container">

    <div class="row">
       <div class="col-sm-12">
            <h3>Browse areas</h3>
        </div>
    </div>

    <div class="row">
       <div class="col-sm-12 browse-tree-view">
            {{#if controller.isLoadingAreas}}
                <div>Loading areas...</div>
            {{else}}
               {{#each toplevel in controller}}
                   {{#if toplevel.area.children}} 
                       {{control "areaBrowseItems" toplevel.area}}
                   {{/if}}
               {{/each}}  
            {{/if}}
        </div> 
    </div>
    
</div>


