<div class="browse-map-view full-screen">
	<div id="tourMapRootElement" class="full-screen"></div>
	<button class="btn btn-primary btn-my-position" {{action "toggleMyPosition"}}>
	    Show my position
	</button>   
</div>