<div class="row">
    <div class="col-sm-12">
        {{#if liteTours}}
            {{browse-tourmap store=store tours=liteTours}}
        {{else}}
            Loading map...
        {{/if}}
    </div>
</div>