<div class="row">
    <div class="small-12 large-5 columns">
        <div class="hide-for-small">
            <span class="browse-header">Browse ski tours</span>
        </div>
        <div class="show-for-small">
            <span class="browse-header">Browse ski tours by area</span>
        </div>        
    </div>
    
    <div class="hide-for-small">
        <div class="large-7 columns">
            <div class="main-tab-container large-browse-tabs">
                <button class="right selected" disabled>Tree view</button>
                <button class="right" {{action "showBrowseMap"}}>Map view</button>
            </div>
        </div>
    </div>
     
     <div class="small-12 columns">
        <div class="browse-container" style="padding: 1em;">
	        {{#if controllers.browse.isLoadingAreas}}
	            <div>Loading areas...</div>
	        {{else}}
	           {{#each toplevel in controllers.browse}}
	               {{#if toplevel.area.children}} 
	                   {{control "areaItems" toplevel.area}}
	               {{/if}}
	           {{/each}}  
	        {{/if}}
        </div>
    </div>
</div>


