<p/>
<div class="row">
    <div class="small-12 columns">
        <span class="tourview-label">{{displayTimestamp time}}</span>
        <span class="comment-username">{{userName}}</span>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <div class="comment-text">{{comment}}</div>
    </div>
</div>