<div class="main-container container-fluid">

    <div class="main-view">
        <div class="row">
            <div class="col-sm-12">
                <h3>
                    Dashboard
                </h3>

                <h4>
                    Stats
                </h4>
                {{stat-component stat=stat}}
                <h4>
                    Last updated tours
                </h4>
                {{lastupdated-component store=store}}
                <h4>
                    Tagcloud
                </h4>
                {{tagcloud-component tags=tags}}
            

            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                <h4>
                    #randopedia on Instagram
                </h4>
                {{instafeed-component tagName='randopedia'}}
            </div>
        </div>

    </div>
</div>