<!--  
    View that wraps the javascript file uploader. The original UI is hidden
 -->
 
<input type="file" id="fileInputElement" class="hide" />
<button class="btn btn-primary" {{action "openFileDialog" target="view"}} {{bindAttr disabled="havePendingOperations"}}>Select image...</button>
