
<div class="footer-box">
        
{{!-- 
    <div class="row hide-for-small">
        <div class="large-6 large-centered columns">
            <ul class="header-links">
                <li><a href="#">Home</a></li> 
                <li>{{#linkTo "browse"}}Browse{{/linkTo}}</li> 
                <li>{{#linkTo "tours"}}About{{/linkTo}}</li>  
                <li>{{#linkTo "login"}}Login{{/linkTo}}</li> 
                <li><a {{action "addNewTour"}}>Add tour</a></li>
                <li><a href="#/userdetails">{{controllers.userdetails.name}}</a></li>
            </ul>
        </div>
    </div>
 --}}
  
    <div class="row">
          
        <div class="small-12 columns small-centered">
            <p class="randopedia-logo-text randopedia-logo-footer">Randopedia</p>
        </div>
        
    </div>

    <div class="row">
          
        <div class="small-8 columns small-centered">
            <div class="footer-links-container">
                {{#linkTo "about"}}About{{/linkTo}}
                <a {{action goToIndex}}>Home</a>
            </div>
        </div>
        
    </div>
    
    <div class="row">
	    <div class="small-8 columns small-centered">
	       <div class="footer-facebook-container">
	           <a target="_blank" href="https://www.facebook.com/randopedia.net"><img src="images/facebook_round_logo.png" alt="Visit us on facebook" width="40px" height="40px"></a>
	       </div>
	    </div>
    </div>
    
    <div class="row">
        
        <div class="small-12 columns small-centered">
            <p class="skitour-labels">
                <span class="green">[Ski de randonnee] </span> 
                <span class="red">[Ski touren] </span>
                <span class="brown">[Esqui de travesia] </span>
                <span class="blue">[Topptur] </span>
                <span class="green">[Sci alpinismo]</span>
            </p>
        </div>        
        
    </div>

    <div class="row">
        
        <div class="small-12 columns small-centered">
            <div style="float: center; text-align: center; color: #E0E0E0; font-size: 0.7em; margin-top: 1em;">
                <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <img alt="Creative Commons License" style="border-width:0; float: center;" src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
                </a>
                
                <p style="margin-top: 0.5em;">
                All tour data on <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">randopedia.net</span> is licensed under a <a style="color: #F0F0F0;" target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                </p>
            
            </div>    
            
       </div>
    
    </div>
</div>