
<footer>
    <div class="footer-view">

        <div class="row">

            <div class="col-sm-12">
                <div>
                    {{!--<a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                        <img alt="Creative Commons License" class="cc-img" src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
                    </a>--}}
                    <div>
                        All tour data on <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">randopedia.net</span> is licensed under a <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                    </div>
                </div>

            </div>

        </div>

        {{!--<div class="row">
            <div class="col-sm-12">
               <div class="footer-facebook-container">
                   <a target="_blank" href="https://www.facebook.com/randopedia.net"><img src="images/facebook_round_logo.png" alt="Visit us on facebook" width="40" height="40"></a>
               </div>
            </div>
        </div>--}}

        <div class="row">
            <div class="col-sm-12">
                <ul class="inline-list">
                    <li class="green">[Ski de randonnee] </li>
                    <li class="red">[Ski touren] </li>
                    <li class="brown">[Esqui de travesia] </li>
                    <li class="blue">[Ski touring] </li>
                    <li class="green">[Topptur] </li>
                    <li class="red">[Sci alpinismo]</li>
                </ul>
            </div>
        </div>

        {{!--<div class="row">
            <div class="col-sm-12">
                <div class="randopedia-logo-text">Randopedia</div>
            </div>
        </div>--}}

    </div>
</footer>