{{!--  
    View that wraps the javascript file uploader. The original UI is hidden
 --}}
 
<input type="file" id="gpxFileInputElement" accept=".gpx" class="hide" />
<div class="btn-group">
    <button class="btn btn-default btn-lg" {{action "openFileDialog" target="view" }}>
        <span class="glyphicon glyphicon-import"></span> Select GPX file to import
    </button>
</div>