<div class="main-container container-fluid">

    <div class="main-view help-view">

        <div class="section">
            <h2>Grades</h2>
            <div>
                {{partial "about-grades"}}
            </div>
        </div>

        <div class="section">
            <h2>Map</h2>
            <p>
                There are three different types of paths shown on the map. A tour can have paths of one or many types.
            </p>
            <p><span class="glyphicon glyphicon-minus default-path"></span> Default (Can be for both ascent and descent)</p>
            <p><span class="glyphicon glyphicon-minus up-patch"></span> Suitable for ascent </p>
            <p><span class="glyphicon glyphicon-minus down-path"></span> Suitable for descent </p>
        </div>

        <div class="section">
            <h2>Adding and updating tours</h2>
            <div>
                {{partial "about-collaboration"}}
            </div>
        </div>
            
    </div>

</div>
