<div class="main-container container-fluid">
    <div class="main-view help-view">

        {{#if controllers.language.isNorwegian }}
            {{partial "help-lang-no"}}
        {{else}}
            {{partial "help-lang-eng"}}
        {{/if}}

    </div>
</div>
