{{view view.itemsView}}

{{#if view.haveMoreThanOneImage}}
<a class="left carousel-control" {{action previousSlide target="view"}}>‹</a>
<a class="right carousel-control" {{action nextSlide target="view"}}>›</a>
{{/if}}  