{{view view.itemsView}}

{{#if view.haveMoreThanOneImage}}
<a class="left carousel-control" {{action previousSlide target="view"}}><span class="glyphicon glyphicon-chevron-left"></span></a>
<a class="right carousel-control" {{action nextSlide target="view"}}><span class="glyphicon glyphicon-chevron-right"></span></a>
{{/if}}  