
{{#if liteTours}}
    <div id="full-screen-map-container" class="full-screen">
    {{browse-tourmap store=store tours=liteTours zoomLevel=currentMapZoomLevel mapCenter=currentMapCenter zoomChanged="mapZoomChanged" centerChanged="mapCenterChanged"}}
    </div>
{{else}}
    Loading map...
{{/if}}




