<style>
    .instafeed-container {
        position: relative;
        top: 0px;
        left: 0px;
        width: 800px;
        height: 200px;
        margin-bottom: 10px;
    }

    .images-container {
        cursor: move;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 800px;
        height: 200px;
        overflow: hidden;
    }

    .modal-header {
        border: none;
    }

    .modal-body {
        text-align: center;
    }

    @media (max-width: 650px) { 
        #instagram-modal-image-element {
            width: 300px;     
        }
    }

    .jssorb03 {
        position: absolute;
    }
    .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
        position: absolute;
        /* size of bullet elment */
        width: 21px;
        height: 21px;
        text-align: center;
        line-height: 21px;
        color: white;
        font-size: 12px;
        background: url(images/jssor/b03.png) no-repeat;
        overflow: hidden;
        cursor: pointer;
    }
    .jssorb03 div { background-position: -5px -4px; }
    .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
    .jssorb03 .av { background-position: -65px -4px; }
    .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

    .jssora03l, .jssora03r {
        display: block;
        position: absolute;
        /* size of arrow element */
        width: 55px;
        height: 55px;
        cursor: pointer;
        background: url(images/jssor/a03.png) no-repeat;
        overflow: hidden;
    }
    .jssora03l { background-position: -3px -33px; }
    .jssora03r { background-position: -63px -33px; }
    .jssora03l:hover { background-position: -123px -33px; }
    .jssora03r:hover { background-position: -183px -33px; }
    .jssora03l.jssora03ldn { background-position: -243px -33px; }
    .jssora03r.jssora03rdn { background-position: -303px -33px; }
</style>

<div class="modal fade" id="instagramShowImageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <img id="instagram-modal-image-element" />
            </div>
        </div>
    </div>
</div>

<div id="instafeed_container" class="instafeed-container">
    
    <div id="instafeed_slider_images_container" u="slides" class="images-container"></div>

    <div u="navigator" class="jssorb03" style="bottom: 4px; right: 6px;">
        <div u="prototype"><div u="numbertemplate"></div></div>
    </div>

    <span u="arrowleft" class="jssora03l" style="top: 123px; left: 8px;"></span>        
    <span u="arrowright" class="jssora03r" style="top: 123px; right: 8px;"></span>

    <a style="display: none" href="http://www.jssor.com">Bootstrap Slider</a>

</div>