<h5>Login</h5>
Select the site you like to login with

<hr/>

<a href="#" {{action loginWithFacebook target="view"}} class="login-link">
	<div class="login-link-container">
	Login with <img src="images/facebook_logo.png">
	</div>
</a>

{{!--
<a href="#" {{action loginWithGoogle target="view"}} class="login-link">
	<div class="login-link-container">
	Login with <img src="images/google_logo.png" width="100">
	</div>
</a>
--}}

<hr/>

<div class="disclaimer-text">
Randopedia doesn't use or store any sensitive information about the account being used. Read more about privacy {{#linkTo "about"}}here{{/linkTo}}.
</div>