<div class="modal-dialog login-view">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Select account to login with</h4>
        </div>
        <div class="modal-body">
            <a class="login-link" {{action "loginWithFacebook" target="view"}}>
                <div>
                Login with <img src="/images/facebook_logo.png">
                </div>
            </a>

            <a class="login-link" {{action "loginWithGoogle" target="view"}}>
                <div>
                Login with <img src="/images/google_logo.png" width="100">
                </div>
            </a>

        </div>
        <hr />
        <div class="spacing">
	        <small>
	            Randopedia doesn't use or store any sensitive information about the account being used. Read more about privacy <a data-dismiss="modal" {{action "goToAbout" target="view"}}>here</a>.
	        </small>
        </div>
    </div>
</div>
