<div class="container-fluid">
    <div class="main-view">
        <div class="row">
            <div class="col-xs-12">

                {{#if isLoadingReviews }}

                <div class="loading">Loading tours in review...</div>

                {{else}}

                <div class="alert alert-info" role="alert">
                    Below are all tours that currently are in review listed. There are currently {{reviews.length}} tour(s) in review.
                </div>

                {{#each tour in reviews}}
                {{view "tourItem"}}
                {{/each}}

                {{/if}}

            </div>
        </div>
    </div>
</div>