
<div class="form-group has-feedback">
    <div class="inner-addon left-addon">
        {{view App.SearchTextField valueBinding="query"}}
    </div>
    {{#if isSearching}}
    <div class="load-container">
        <div class="loader"></div>
    </div>
    {{/if}}
</div>

{{#each tour in tours}}
    {{view App.TourItemView}}
{{/each}}

