<div class="row">
    <div class="small-12 column">
    
        <table>
          <thead>
            <tr>
              <th width="100">Stat</th>
              <th width="75">Value</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tours</td>
              <td>{{publishedTours}}</td>
              <td>Published tours</td>
            </tr>
            <tr>
              <td>Areas</td>
              <td>{{publishedAreas}}</td>
              <td>Published areas</td>
            </tr>
            <tr>
              <td>Dead areas</td>
              <td>{{deadAreas}}</td>
              <td>Areas with no tours or sub areas</td>
            </tr>
            <tr>
              <td>Tour drafts</td>
              <td>{{tourDrafts}}</td>
              <td>Draft count</td>
            </tr>
          </tbody>
        </table>
        
    </div>
</div>