
<select class="tags-editor form-control" id="tagsEditorId">
    <option value="Hello">Hello</option>
    <option value="World">World</option>
</select>

{{!-- 
{{#each tag in allTags}}

{{
    view "select"
        content=tags
        optionLabelPath=content.name
        class="tags-editor2 form-control"
}}

{{/each }}

--}}