<div class="main-container container-fluid">

    <div class="main-view">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                Here are the top tags for randopedia.net
            </h3>
        </div>
    </div>
    

    {{tagcloud-component tags=model}}

    </div>
</div>
