<button class="btn btn-default pull-right spacing-y"  data-toggle="modal" data-target="#confirmDeleteRoutesModal">Remove routes</button>

<div class="mapContainer">
    <div id="tourMapRootElement"></div>
</div>

<div class="modal fade" id="confirmDeleteRoutesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                 Are you sure you want to remove all routes from the map?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary pull-left" {{action "closeDeleteRoutes" target="view" }}>Cancel</button>
                <button class="btn btn-default pull-right" {{action "deleteRoutes" target="view"}}>Remove</button>
            </div>
        </div>
    </div>    
</div>