<div>

    {{#if isLoadingReviews }}

    <div class="loading">Loading tours in review...</div>

    {{else}}

    <div class="alert alert-info" role="alert">
        There are currently {{reviews.length}} tours in review.
    </div>

    {{#each reviews as |tour|}}
        {{tour-item tour=tour}}
    {{/each}}

    {{/if}}

</div>
