<div class="container">
    <h1>Dashboard</h1>

    Published tours: {{stats.publishedTours}}
    Total gain: {{stats.totalGain}}
    Total loss: {{stats.totalLoss}}
    {{tag-cloud tags=tags}}
</div>
