<div id="full-screen-map-container" class="full-screen">
    {{!-- browse-map tours=liteTours zoomLevel=currentMapZoomLevel mapCenter=currentMapCenter mapTypeId=currentMapTypeId tour=tourForMapView zoomChanged="mapZoomChanged" centerChanged="mapCenterChanged" mapTypeIdChanged="mapTypeIdChanged" --}}
</div>
