select {
    display: block;
}

.right {
    float: right !important;
}

.spacer-y {
    margin-top: 10px;
    margin-bottom: 10px;
}

.spacer-y-bottom {
    margin-bottom: 10px;
}

select { // copy of bootstrap form-control class
    display: block;
    width: 100%;
    padding: .42rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;    
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid rgba(0,0,0,.15);
}