.top-bar {
    position: absolute;
    top: -0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    background: transparent;

    .bg-panel {
        /*width: 300px;*/
        min-height: @topbar-height;
        background: @topbar-background;
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 25%;
        border: 1px solid #ccc;
        color:#fff;
        position:relative;
        text-align: center;

        &.search-is-open {
            border-radius: 0;
        }
    }

    .logo {   
        font-size: 25px;
        color: #000 !important;
    }

    .menu-button {
        width: 2em;
        height: 2em;
        font-size: 1.25rem;
        padding: 0.25rem;
        line-height: 1;
        background: transparent no-repeat center center;
        -webkit-background-size: 24px 24px;
        background-size: 24px 24px;
        border-radius: .25rem;        
        color: @normal-foreground !important;
        

        i {
            padding: 4px 6px !important;
            border-radius: 5px;
            &.selected {
                background: @active-blue;
                color: #fff;
            }
        }
    }    

    .menu {
        margin-top: 10px;
        margin-bottom: 15px;
        padding: 0 40px 25px;

        a {
            display: block;
            font-weight: 600;
            color: #fff !important;
            background-color: @primary-color;
            margin: 5px;
            text-align: center;
            padding: 10px;
            text-transform: uppercase;
            border-radius: 2px;
            font-size: 0.8rem;

            &:focus {
                outline: 0;
            }  

            &:hover {
                background: darken(@primary-color, 5%)
            }           

            &.lang {
                background: none;
                padding: 5px;
                color: @normal-foreground !important; 
                text-align: left;
            }
        }

        div {
            text-align: left;
        }

        h4 {
            text-align: left;
            color: #a9a9a9 !important;  
            font-size: 1rem;
            margin-bottom: 2px;
        }
        
        i {
            text-align: left;
            &.fa-user {
                color: #a9a9a9 !important;  
            }
        }

        span {
            text-align: left;
            color: @normal-foreground !important;
            margin-left: 5px;
            padding: 5px;
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 600;
        }

        .login-menu-container {
            a, h4 {
                text-align: center;
            }

            hr {
                margin: 5px 0;
            }
        }
    }

    .fb-like {
        margin-top: 7px;
    }
}
