.tour-item {
    a {
        color: #0275d8 !important;
    }
    .item-panel {
        text-align: left;
        margin-bottom: 10px;
        padding: 5px;
    }
    .item-props { 
        color: @gray-light;
    }
}  