.tour-edit-component {

    a.info:before, button.info:before { content: "?"; }
    a.info, button.info {
        display: inline;
        height: 1.5em;
        width: 1.5em;
        border-radius: 50%;
        border: 1px solid #818181;
        background-color: #818181;
        color: #FFF;
        font-size: 0.8em;
        font-family: Aight;
        padding: 0;
        margin-right: 5px;

        &:focus {
            outline: 0;
        } 

        &:hover { 
            background: none; 
            background-color: #0A89DD;
            border-color: #0A89DD;
        }
    }

    a.info {
        padding-left: 0.45em;
    }

}