<div class="about-grades-view">
    {{#if language.isNorwegian }}
        {{partial "partials/about-grades-lang-no"}}
    {{else}}
        {{partial "partials/about-grades-lang-eng"}}
    {{/if}}
</div>