<div>
    <div class="row">
        <div class="col col-md-12 col-lg-8 about-section">
            <div class="text-section">
                <p>
                    Randopedia er en åpen felles database hvor alle kan bidra ved å legge til og oppdatere innhold. Ambisjonen er høy; det skal bli den mest komplette og tilgjengelig topptursdatabasen i verden. 
                    Randopedia prøver ikke å være et community eller et sosialt nettverk; det er rett og slett en database som inneholder toopptursbeskrivelser.
                </p>
                <p>
                    Foreløpig er dataet bare tilgjengelig på randopedia.net portal, men ideen er at databasen skal være tilgjengelig for alle som ønsker å bruke dataet på sine nettsteder eller applikasjoner via offentlige grensesnitt.
                </p>
                <p>
                    Det er veldig enkelt å bidra og delta i Randopedia-visjonen. Bare logg inn og legg til dine turer! Ta en titt på avsnittet om {{#link-to "help"}}hjelp{{/link-to}} hvis du ønsker å lære mer om hvordan du kan bidra med turdata.                    
                </p>
            </div>
        </div>
        <div class="col col-lg-4 hidden-md-down about-section">
            <div class="promo-box">
                <h1 class="logo">Randopedia</h1>
                <div>Topptursdatabasen</div>
            </div>
        </div> 
    </div>
    
    <div class="row">
        <div class="col spacer-y">
            <div class="fb-like" data-href="https://www.facebook.com/randopedia.net" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col spacer-y-top">
            <h3>Folka</h3>
            <p>
                Randopedia er utviklet og vedlikeholdt av et par skikjørere som syntes dette var en god idé. Alt arbeid er gjort frivillig på fritiden, men vi gjør vårt beste for å ofte oppdatere og forbedre nettstedet.
            </p>
            <p>
                Vi vill gjerne få tilbakemeldinger, så alle ideer, forslag, feilrapporter , spørsmål, kritikk eller komplimenter er alle veldig velkommen. Vennligst send en e-post til 
                <a href="mailto:mail@randopedia.net"> mail@randopedia.net </a> eller skriv på <a target="_blank" href="https://www.facebook.com/randopedia.net">Randopedias Facebook-side</a>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <h3>Lisensiering</h3>
                <p>
                    Alle turdata (tekst, bilder, kartdata) er lisensiert under en <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International lisens</a>.
                    Dette betyr i utgangspunktet at turdataen er, og vil alltid være, gratis. Alle kan dele og videreformidle dataene fritt så lenge det gjøres under samme lisens.
                </p>
                <p>
                    <div class="cc-img-container text-center">
                        <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                            <img alt="Creative Commons License" class="cc-img" src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
                        </a>
                    </div>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Personvern og innlogging </h3>
            <p>Randopedia har ikke sin egen autentiseringssystem, i stedet for å opprette en ny konto som du kan bruke kontoene du allerede har. Foreløpig kan du logge inn med Facebook og Google-kontoer. </p>
            <p>Første gang du logger inn må du registrere kontoen med Randopedia. Dette er bare en bekreftelse på at du lar din konto som skal brukes for autentisering av Randopedia.</p>
            <p>Randopedia oppbevarer ikke og bruker ikke noen sensitiv informasjon om kontoen din. Det eneste som blir lagret er bruker-id og navn.</p>
            <p><em> Merk </em>: Du trenger bare å logge inn hvis du ønsker å bidra med turdata eller skrive kommentarer på turer. Alle beskrivelser og annen informasjon på nettstedet er alltid tilgjengelig uansett om du er logget inn eller ikke.</p>
            <p><em> Merk </em>: Det er en annen pålogging for kommentarer / diskusjoner. Hvis du logger deg inn fra diskusjonspanel, vil du bare kunne legge til kommentarer, ikke legge til / redigere turer.</p>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-10 offset-lg-1">
            <div class="card card-outline-danger">
                <div class="card-block">
                    <h4 class="card-title">Ansvarsfraskrivelse</h4>
                    <p>Ved å publisere materiale på Randopedia sikrer du at materialet ikke bryter NOEN opphavsrett, internasjonale eller annen, eller at materialet er ansett som ulovlig av styrende myndigheter.</p>
                    <p>Hvis du mistenker at noe materiale tilgjengelig på Randopedia bryter opphavsretten , kan du kontakte oss og det vil umiddelbart bli slettet fra Randopedia-databasen.</p>
                    <p>Randopedia gir ingen garanti for gyldigheten av innholdet. Turdata bør alltid bli sett på som retningslinjer og inspirasjon, ikke som absolutt sannhet, og behandles som sådan.</p>
                    <p>Randopedia forbeholder seg retten til, uten forvarsel, slette alt innhold som bryter med noe oppgitt her eller regnes som irrelevant for nettstedet.</p>
                </div>
            </div>
        </div>
    </div>

</div>