
<footer class="footer">
    <div class="row">
        <div class="col-xs-12">
            All tour data on <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">randopedia.net</span> is licensed under a <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 spacer-y-top">
            <ul class="inline-list">
                <li class="green">[Ski de randonnee] </li>
                <li class="red">[Ski touren] </li>
                <li class="brown">[Esqui de travesia] </li>
                <li class="blue">[Ski touring] </li>
                <li class="green">[Topptur] </li>
                <li class="red">[Sci alpinismo]</li>
            </ul>
        </div>
    </div>
</footer>