
<footer class="footer">
    <div class="row">
        <div class="col">
            <p>
                <span class="spacer-x-right">{{#link-to "index"}}<i class="fa fa-map" aria-hidden="true"></i> {{text "header_map"}}{{/link-to}} </span>
                <span class="spacer-x-right">{{#link-to "dashboard"}}<i class="fa fa-tachometer" aria-hidden="true"></i> {{text "header_dashboard"}}{{/link-to}} </span>
                <span class="spacer-x-right">{{#link-to "about"}}<i class="fa fa-info-circle" aria-hidden="true"></i> {{text "header_about"}}{{/link-to}} </span>
                <span>{{#link-to "dashboard"}}<i class="fa fa-hashtag" aria-hidden="true"></i> {{text "footer_tags"}}{{/link-to}} </span>
            </p>
            <p>
                All tour data on <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">randopedia.net</span> is licensed under a <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col spacer-y-top">
            <ul class="inline-list">
                <li class="green">[Ski de randonnee] </li>
                <li class="red">[Ski touren] </li>
                <li class="brown">[Esqui de travesia] </li>
                <li class="blue">[Ski touring] </li>
                <li class="green">[Topptur] </li>
                <li class="red">[Sci alpinismo]</li>
            </ul>
        </div>
    </div>
</footer>