<div class="section">
    <h2>Gradering</h2>
    <div>
        {{partial "partials/about-grades"}}
    </div>
</div>

<div class="section">
    <h2>Kart</h2>
    <p>
        Det er tre forskjellige typer av rutemarkering som vises på kartet. En tur kan ha rutemarkering av en eller flere typer.
    </p>
    <p><span class="glyphicon glyphicon-minus default-path"></span> Standard (Kan være for både opp- og nedstigning)</p>
    <p><span class="glyphicon glyphicon-minus up-patch"></span> Passer for oppstigningen </p>
    <p><span class="glyphicon glyphicon-minus down-path"></span> Passer for nedstigningen </p>
</div>

<div class="section">
    <h2>Legge til og oppdatere turer</h2>
    <div>
        {{about-collaboration}}
    </div>
</div>